.footer{
    padding: 103px ;
    background: #eeeaff;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.footer-box{
    width: 30%;
}

.footer-box p{
    color: var(--heading-color);
    line-height: 28px;
    margin-top: 20px;
}

.footer-title{
    font-size: 1.2rem;
    color: var(--heading-color);
    margin-bottom: 20px;
}

.footer-links li{
    line-height: 28px;
}

.footer-links li a{
    color: var(--heading-color);
    cursor: pointer;
}

.footer-links li a:hover{
    color: var(--primary-color);
}

.copyright{
    margin-top: 30px;
    text-align: center;
    color: #777;
    font-size: .9rem;
}